body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.content-card{
    background-color: #8A26A6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-header{
    background-color: black;
}

.BrBut{
    width: auto;
    height: auto;
    color: #1ca333;
    background-color: #ffffff;
    border-radius:20%;
}

.content {
    background-color: #fff;
    padding: 20px; 
    font-family: Arial, sans-serif;
}

.barras{
    border-radius: 30%;
}
.jugar{
    background-color: rgb(93, 34, 201);
    color: #efff0a;
    border-radius: 20%;
}
.T{
    color: #0721e1;
}

.tateti{
    display: grid;
    grid-template-columns: repeat(3, 100px); 
    grid-gap: 5px; 
    width: 100px;
}

.tecla {
    width: 100px;
    height: 100px;
    background-color: #F28705;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}


.conteiner{
    width: 100%;
    height: 100%;
    display:flexbox;
    align-items: center;
    justify-content: center;
}